*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

h1{font-size: 3.5em}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
ul{list-style: none;}
li{font-size: 1.25em;}
.color-acento{color: rgb(16, 139, 139);}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;

}
button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgb(0, 0, 0,0.5);
    color: white;
    background-color: rgb(16, 139, 139);

}
button:hover{
    background-color: rgb(2, 34, 34);
}
.container{
    max-width: 1100px;
    margin: auto;
}
header{
    background-color: rgb(240, 240, 240);
}
header .logo{
    margin: 0;
    padding: 25px 30px ;
    font-weight: bold;
    color:rgb(16, 139, 139) ;
    font-size: 2em;
}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
header a:hover{
    color: rgb(16, 139, 139);

}
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    font-weight: bold;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/rosquilla-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}
#hero h1{
    color: white
}
#hero button{
    font-size: 1.75em;
}
#Somos-DC .container{
    text-align: center;
    padding: 200px 12px;
}
#nuestras-donas {
    background-color: rgba(30, 30, 30);
    color: white;
    text-align: center;
}
#nuestras-donas p{
    display: none;
}
#nuestras-donas h2{
    margin-top: 0;
    font-size: 3.2em;
}
#nuestras-donas .container{
    padding: 100px 0px;
}


#nuestras-donas .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 25px;
    border-radius: 20px;
}
.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/dona1.jpg");
}
.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/dona2.jpg");

}
.carta:last-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/dona3.jpg");
}
#caracteristicas .container{
    text-align: canter;
    padding: 200px 12px
}
#caracteristicas li{
    margin: 12px 0px;
    font-weight: bold;
}
#contactanos-ya {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: rgba(30, 30, 30);
    color: white;
    height: 80vh;
    padding: 20px; /* Añadido para dar espacio alrededor del contenido */
}

#contactanos-ya h2 {
    font-size: 5vw;
    margin-bottom: 20px; /* Añadido para separar el título del resto del contenido */
}

#contactanos-ya button {
    font-size: 3vw;
    padding: 10px 20px;
    background-color:rgb(16, 139, 139);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px; /* Añadido para separar el botón del formulario */
}

#contactanos-ya h3 {
    font-size: 2vw;
    margin-bottom: 10px;
}

#contactanos-ya form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Ajusta el ancho del formulario al contenedor */
}

#contactanos-ya .form-group {
    margin-bottom: 15px;
    width: 80%; /* Ajusta el ancho de los grupos de formulario */
}

#contactanos-ya label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.5vw;
}

#contactanos-ya input[type="email"] {
    width: 100%;
    padding: 10px;
    font-size: 1.5vw;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contactanos-ya form button[type="submit"] {
    font-size: 1.5vw;
    padding: 10px 20px;
    background-color: blueviolet;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#contactanos-ya form button[type="submit"]:hover {
    background-color: #218838;
}
footer{
    background-color: rgba(230, 230, 230);
}
footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100, 100, 100);
}
footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
@media (min-width:720px){
    header{
        position: fixed;
        width: 100%;
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction:  row;
        padding-bottom: 0;
        padding-right: 20px;
    }
    #hero h1{
        font-size: 5em;
    }
    #Somos-DC .container{
        display: flex;
        justify-content: space-evenly;
    }
    #Somos-DC .texto{
        width: 50%;
        text-align: initial;
        padding: 0px 30px;
        max-width: 600px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-left: 30px;
        
    }
    #Somos-DC h2{
        margin-top: 0px;
    }

    #Somos-DC .img-container{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/dona4.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;

    }
    #nuestras-donas .tipos{
        display: flex;
        justify-content: center;

    }
    #nuestras-donas p{
        display: block;
        margin-bottom: 30px;
    }
    #nuestras-donas h3{
        margin-top: 0;
    }
    #nuestras-donas .carta{
        padding: 15px;
    }
    #caracteristicas{
        text-align: initial;
    }
    #caracteristicas .container{
        text-align: initial;

    }
    #caracteristicas ul{
        margin-left: 100px;
        color: white;
        font-weight: bold;
    }
    #caracteristicas{
        background-image: url("media/dona5.jpg");
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: calc(100vw-500px) 120px;
        background-size: cover;
        background-position: center center;
    }


}
@media (min-width 1100 px){
    #caracteristicas{
        background-position: calc(100vw-800px);
    }
}